Source: cryptsetup
Section: admin
Priority: optional
Maintainer: Debian Cryptsetup Team <pkg-cryptsetup-devel@lists.alioth.debian.org>
Uploaders: Jonas Meurer <mejo@debian.org>
Build-Depends: debhelper (>= 5.0.0), libgcrypt11-dev, libdevmapper-dev, libpopt-dev, uuid-dev, libselinux1-dev, libsepol1-dev, gettext, libtool, autoconf, automake1.9, dpatch, xsltproc, docbook-xsl, asciidoc
Standards-Version: 3.7.2.2

Package: cryptsetup
Architecture: any
Depends: ${shlibs:Depends}, dmsetup
Suggests: udev, initramfs-tools (>= 0.91) | linux-initramfs-tool, dosfstools
Conflicts: cryptsetup-luks (<= 1.0.1-8), hashalot (<= 0.3-1)
Replaces: cryptsetup-luks (<= 1.0.1-8)
Description: configures encrypted block devices
 Since kernel 2.6.4, encrypted filesystem support is provided by the device
 mapper target dm-crypt. This utility provides a command-line interface for
 configuring this facility. It has integrated support for LUKS.
 .
 cryptsetup is backwards compatible with the on-disk format of cryptoloop,
 but also supports more secure formats. This package also includes support
 for automatically configuring encrypted devices at boot time via the config
 file /etc/crypttab. When combined with newer versions of the debian
 initrd-tools and standard debian kernels, cryptoroot is also supported.
 .
 For information on how to convert your system to use encrypted filesystems
 please read /usr/share/doc/cryptsetup/CryptoRoot.HowTo.

Package: cryptsetup-udeb
Section: debian-installer
XC-Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}, dmsetup-udeb
Description: configures encrypted block devices
 Since kernel 2.6.4, encrypted filesystem support is provided by the device
 mapper target dm-crypt. This utility provides a command-line interface for
 configuring this facility. It has integrated support for LUKS.
 .
 cryptsetup is backwards compatible with the on-disk format of cryptoloop,
 but also supports more secure formats. This package also includes support
 for automatically configuring encrypted devices at boot time via the config
 file /etc/crypttab. When combined with newer versions of the debian
 initrd-tools and standard debian kernels, cryptoroot is also supported.
