Source: cryptsetup
Section: admin
Priority: optional
Maintainer: Debian Cryptsetup Team <pkg-cryptsetup-devel@lists.alioth.debian.org>
Uploaders: Jonas Meurer <mejo@debian.org>
Build-Depends: debhelper (>= 5.0.0), libgcrypt11-dev, libdevmapper-dev (>= 2:1.02.24-4), libpopt-dev, uuid-dev, libselinux1-dev, libsepol1-dev, gettext, libtool, autoconf, automake1.9, quilt (>= 0.40), xsltproc, docbook-xml, docbook-xsl
Standards-Version: 3.8.0
Homepage: http://code.google.com/p/cryptsetup/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-cryptsetup/cryptsetup/trunk
Vcs-Svn: svn://svn.debian.org/svn/pkg-cryptsetup/cryptsetup/trunk

Package: cryptsetup
Architecture: any
Depends: ${shlibs:Depends}, dmsetup
Suggests: udev, initramfs-tools (>= 0.91) | linux-initramfs-tool, dosfstools
Conflicts: cryptsetup-luks (<= 1.0.1-8), hashalot (<= 0.3-1)
Replaces: cryptsetup-luks (<= 1.0.1-8)
Description: configures encrypted block devices
 Cryptsetup provides a command-line interface for configuring encrypted
 devices. This is done using the Linux kernel device mapper target
 dm-crypt. This version of cryptsetup has integrated support for LUKS.
 .
 cryptsetup is backwards compatible with the on-disk format of cryptoloop,
 but also supports more secure formats. This package includes support for
 automatically configuring encrypted devices at boot time via the config
 file /etc/crypttab. Additional features are cryptoroot support through
 initramfs-tools and several supported ways to read a passphrase or key.

Package: cryptsetup-udeb
Section: debian-installer
XC-Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}, dmsetup-udeb
Description: configures encrypted block devices
 Cryptsetup provides a command-line interface for configuring encrypted
 devices. This is done using the Linux kernel device mapper target
 dm-crypt. This version of cryptsetup has integrated support for LUKS.
 .
 cryptsetup is backwards compatible with the on-disk format of cryptoloop,
 but also supports more secure formats. This package includes support for
 automatically configuring encrypted devices at boot time via the config
 file /etc/crypttab. Additional features are cryptoroot support through
 initramfs-tools and several supported ways to read a passphrase or key.
